<%- include("../../partials/header"); %>

    <body>
        <%- include("../../partials/navbar"); %>
            <div class="container">
                <div class="card mt-3">
                    <div class="card-header">
                        <h2>Create Category</h2>
                    </div>
                    <div class="card-body">
                        <form action="/categories/save" method="post">
                            <input type="text" name="title" class="form-control" placeholder="Insert a title...">
                            <button class="btn btn-success mt-3">Create</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>

    <%- include("../../partials/footer"); %>