<nav class="navbar navbar-light bg-secondary">
    <a href="/" class="navbar-brand ms-3">Blogdin</a>

    <ul class="navbar-nav me-auto"> 
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">categories</a>
        </li>
    </ul>
</nav>